<% include header %>
			<div class="section clearfix" style="width: 435px; margin: 10px auto;">
				<div class="section-toolbar clearfix" style="background: none;">
					<div class="popup-buttons" style="float: left;">
						<h1 style="padding-top: 4px;">Software Download</h1>
					</div>
				</div>
				<div class="section-content clearfix">
			 		<div class="field-group clearfix" style="margin-bottom: 10px;" id="link-selection-area">
			 			<div class="clearfix">
		 					<div class="field-container select clearfix">
		 						<label for="config.linktype">Select Component </label>
	 							<div class="iw">
	 								<select name="downloadtype" id="downloadtype" class="cfgproc">
	 								</select>
	 							</div>
	 						</div>
		 				</div>
	 					<div class="field-container text clearfix" style="padding: 0 140px;">
		 					<a class="button" id="download" onclick="">Begin Download</a>
				 		</div>
					</div>
				</div>
			</div>
<script src="/public/js/conf_download.js"></script>
<script src="/public/js/socket.io-stream.js"></script>
<% include footer %>
