<% include header %>
<script src="/public/js/unload.js"></script>
	<div style="width: 800px; margin: 0 auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="padding-top: 4px;">User Defined Variables</h1>
						</div>
						<% if (edit_mode == '1' && enableSessionTimeout == 'true'){ %>
							<div id="buttons_panel" class="popup-buttons" style="float: right">
								<!--<a id="conf_cancel_changes_btn" class="button" href="#" onclick="return false;">Cancel changes</a>
								<a id="conf_save_changes_btn" class="button" href="#" onclick="return false;">Save changes</a>-->
								<a id="conf_save_changes_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Save for<br>Exit Confirmation</a>
								<a id="conf_restore_EEPROM_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>EEPROM</a>
								<a id="conf_restore_Application_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>Application</a>
							</div>
						<% } %>
					</div>
					<div class="section-content clearfix" style="margin:0;">
						<div id="VarList" class="scroll clearfix fullheight-inner" style="height: 300px;"></div>
						<div class="field-container text clearfix" style="float: left; margin: 10px 0 0 10px;">
							<img style="float: left; display: block;" src="public/img/Warning.png">
							<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Vital</label>
							<img style="float: left; display: block;" src="public/img/error.png">
							<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Fixed</label>
							<img style="float: left; display: block;" src="public/img/accept.png">
							<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Adjustable</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
