<% include header %>
<script src="/public/js/socket.io-stream.js"></script>
<script src="/public/js/conf_upload.js"></script>
			<div class="section clearfix" style="width: 435px; margin: 10px auto;">
				<div class="section-toolbar clearfix" style="background: none;">
					<div class="popup-buttons" style="float: left;">
						<h1 style="padding-top: 4px;">Software Upload</h1>
					</div>
					<div class="popup-buttons" style="float: right">
								<a id="info_cancel_btn" class="button" href="config">Cancel</a>
					</div>
				</div>
				<div class="section-content clearfix">
					<div class="field-group clearfix" style="margin: 10px 0;">
						<div class="field-container text clearfix fchooser">
							<label for="exec-filename" style="width: 160px; float: left; margin-top: 5px;">EXECUTIVE File:</label>
							<div id="params-exec" class="iw" style="float: left; margin: 2px 5px; width: 265px;">
								<input type="file" id="exec-filename" name="datafile" accept = ".tar" class="fchooser-file">
							</div>
							<a id="clear-exec-filename" href="#" onclick="return false;" class="button" style="float: left;">Clear</a>
						</div>
						<div class="field-container text clearfix fchooser">
							<label for="app-filename" style="width: 160px; float: left; margin-top: 5px;">APPLICATION File:</label>
							<div id="params-app" class="iw" style="float: left; margin: 2px 5px; width: 265px;">
								<input type="file" id="app-filename" name="datafile" accept = ".mlp" class="fchooser-file">
							</div>
							<a id="clear-app-filename" href="#" onclick="return false;" class="button" style="float: left;">Clear</a>
						</div>
						<div class="field-container text clearfix fchooser">
							<label for="conf-filename" style="width: 160px; float: left; margin-top: 5px;">CONFIGURATION File:</label>
							<div id="params-conf" class="iw" style="float: left; margin: 0 5px; width: 265px;">
								<input type="file" id="conf-filename" name="datafile" accept = ".json" class="fchooser-file">
							</div>
							<a id="clear-conf-filename" href="#" onclick="return false;" class="button" style="float: left;">Clear</a>
						</div>
					</div>
					<div class="field-group clearfix">
						<h2>Warning</h2>
						<div style="margin: 10px 0;  text-align: center;">
		 					<div style="margin: 20px 10px;" class="field-container clearfix">
		 						<p>When the upload completes, the system will prompt for reboot. Pending changes to configuration will be lost.</p>
		 					</div>
	 					</div>
	 					<div class="field-container text clearfix" style="padding: 0 35px;">
		 					<a href="#" class="button" id="upload_new_btn">Upload New Components</a>
		 					<a href="#" class="button" id="upload_all_btn">Upload All Components</a>
				 		</div>
					</div>

				</div>

			</div>
<% include footer %>
