<% include header %>
<script src="/public/js/unload.js"></script>
	<div style="width: 1060px; margin: 0 auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">General Configuration</h1>
						</div>
						<% if (edit_mode == '1' && enableSessionTimeout == 'true') { %>
						<div class="popup-buttons" style="float: right;">
							<a id="conf_save_changes_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Save for<br>Exit Confirmation</a>
							<a id="conf_restore_EEPROM_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>EEPROM</a>
							<a id="conf_restore_Application_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>Application</a>
						</div>
						<% } %>
					</div>
			 		<div id="general-changes-area" class="section-content clearfix" style="margin:0;">
			 			<div class="clearfix">
			 				<div class="container-wrapper per50">
				 				<div class="field-group clearfix" style="margin: 0 10px 10px 0">
				 					<div style="margin: 50px 0;  text-align: center;">
					 					<div class="field-container clearfix" style="margin: 20px 10px;">
					 						<p>Last PC Vital Configuration: <span id="PCVCFG"></span></p>
					 					</div>
					 					<div class="field-container clearfix" style="margin: 20px 10px;">
					 						<p>Last PC Non-Vital Configuration: <span id="PCNVCFG"></span></p>
					 					</div>
				 					</div>
    			 				</div>
			 				</div>
			 				<div class="container-wrapper per50 clearfix">
				 				<div class="field-group clearfix">
				 					<h2>Timing</h2>
									<div style="padding:5px 0px 10px 10px">
										<label style="width:160px; display:inline-block; margin-top: 3px; float: left;">Logic Timeout:</label>
										<img style="vertical-align:bottom; matgin-bottom:-2px;float: left;" src="public/img/Warning.png"></img>
										<div id="div_LogicTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
											<span style="left:0px; margin-top:3px">milliseconds</span>
											<input id="txt_logic_timeout" style="height:18px; width:50%; background-color: transparent" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
										</div>
										<label id="lbl_current_logic_timeout" style="font-size:85%; margin-top: 5px; display:none"></label>
										<label id="lbl_default_logic_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block"></label>
									</div>
									<div style="padding:5px 0px 10px 10px">
										<label style="width:160px; display:inline-block; margin-top: 3px;float: left;">Delay Reset:</label>
										<img style="vertical-align:bottom; matgin-bottom:-2px;float: left;" src="public/img/error.png"></img>
										<div id="div_DelayReset" class="iw suffix is-disabled" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
											<span style="left:0px; margin-top:3px">milliseconds</span>
											<input id="txt_delay_reset" style="height:18px; width:50%; background-color: transparent" name="LogTimeout" min="0" max="9999" step="1" class="cfgproc" maxlength="41" type="number" disabled>
										</div>
										<label id="lbl_default_delay_reset" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block"></label>
									</div>
									<div style="padding:5px 0px 10px 10px">
										<label style="width:160px; display:inline-block;margin-top: 3px;float: left;">Synchronization Timeout:</label>
										<img style="vertical-align:bottom; matgin-bottom:-2px;float: left;" src="public/img/Warning.png"></img>
										<div id="div_SynchronizationTimeout" class="iw suffix" style="width: 120px; height:20px; float: left; margin: 0 5px; padding-right:5px">
											<span style="left:0px; margin-top:3px">milliseconds</span>
											<input id="txt_synchronization_timeout" style="height:18px; width:50%; background-color: transparent" name="LogTimeout" min="1" max="9999" step="1" class="cfgproc" maxlength="41" type="number">
										</div>
										<label id="lbl_current_synchronization_timeout" style="font-size:85%; margin-top: 3px; display:none"></label>
										<label id="lbl_default_synchronization_timeout" style="font-size:85%;color:#580f0f; margin-top: 5px; display:inline-block"></label>
									</div>
								</div>
								<div class="field-group clearfix" style="margin-top: 10px;">
				 					<h2>Password</h2>
				 					<div style="margin: 0 133px;">
				 						<img src="public/img/Warning.png" style="float: left; display: block; margin: 4px;"/>
										<% if (edit_mode == '1' && enableSessionTimeout == 'true'){ %>
										<a id="change-pwd" class="button" href="#" style="width: 100px; margin: 3px 0;">Change Password</a>
										<% } else { %>
										<p style="text-align: center;">Use full configuration mode to change password</p>
										<% } %>
									</div>
								</div>
			 				</div>
		 				</div>
			 			<div class="clearfix">
		 					<div class="field-group clearfix">
			 					<h2>Event Class Logging Thresholds</h2>
			 					<div class="scroll clearfix fullheight-inner" style="height: 300px;">
			 						<div id="options_list" style="display: block; margin: 10px;">
									</div>
								</div>
		 					</div>
						</div>
						<div class="field-container text clearfix" style="float: left; margin: 10px 0 0 10px;">
							<img style="float: left; display: block;" src="public/img/Warning.png">
							<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Vital</label>
							<img style="float: left; display: block;" src="public/img/error.png">
							<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Fixed</label>
							<img style="float: left; display: block;" src="public/img/accept.png">
							<label style="width: 80px; float: left; margin-top: 5px;" for="LogicTimeout"> = Adjustable</label>
						</div>
			 		</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/public/js/common_function.js"></script>
	<script src="/public/js/conf_general.js"></script>
<% include footer %>
