<% include header %>

				<div class="section clearfix" style="width: 600px; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">Clear System Configuration</h1>
						</div>
					</div>

			 		<div id="clear-conf-area" class="section-content clearfix">
						<div class="field-group clearfix" style="margin: 0 10px 10px 0">
		 					<div class="field-container text clearfix" style="background-color: red; border: solid; border-color: yellow; border-width: 2px;">
			 					<label style="margin: 10px; font-size: 18px; font-weight: bold; color: white; text-align: center;">
			 						CAUTION!!!<br/>Selecting the Clear Configuration Button below will
									clear the configuration values stored in the cardfile's memory.
									The values on these configuration pages will be set to the
									application's default configuration values.
									If the IP address of the diagnostic port has been changed and
									the system is reset, the web tool must be reconnected using
									the application's default address.
			 					</label>
			 				</div>
			 			</div>
						<div style="padding: 11px 190px">
							<a id="clear-sysconfig" class="button" onclick="return false;" href="#" style="background-color: #F08000; background-image: none; color: white !important;border-color: black;">Clear System Configuration</a>
						</div>
			 		</div>
				</div>
				<script src="/public/js/common_function.js"></script>
				<script src="/public/js/conf_clear.js"></script>
<% include footer %>
