<% include header %>
	<script src="/public/js/conf_route.js"></script>
	<script src="/public/js/common_function.js"></script>
				<div class="section clearfix" style="width: 860px; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">CPU Board Network Routing</h1>
						</div>
					</div>

			 		<div id="route-conf-area" class="section-content clearfix">
						<div class="field-container text clearfix">
							<label for="route-command">Route add or route del command</label>
							<div class="iw" style="width: 740px; float:left; margin-top: 2px">
								<input id="route-command" class="cfgproc" maxlength="200" name="route-command">
							</div>
							<a id="route_submit_btn" class="button" href="#" style="float: right;">Submit</a>
						</div>
						<div class="field-container textarea clearfix">
							<label for="route-log-field">Routing table</label>
							<div class="iw">
								<textarea id="route-log-field" class="cfgproc" name="route-log-field" style="height: 400px;overflow-y: scroll;" readonly="" ></textarea>
							</div>
						</div>
			 		</div>
				</div>

<% include footer %>
