<% include header %>
<% if (edit_mode == "1" && enableSessionTimeout == 'true') { %>
			<div class="section clearfix" style="width: 860px; margin: 10px auto;">
		 		<div id="config-buttons-area" class="section-content clearfix">
		 			<div class="popup-buttons">
						<a id="apply_changes_btn" class="button config_btn cfg_apply" style="margin: 50px 70px; width:220px; height:50px; text-align: center;" href="#">
							<p>DONE!</p>
							<span>Upload Changes and Exit Configuration</span>
						</a>
						<a id="discard_changes_btn" class="button config_btn cfg_discard" style="margin: 50px 70px; width:220px; height:50px; text-align: center;" href="#">
							<p>QUIT!</p>
							<span>Discard Changes and Exit Configuration</span>
						</a>
						<div class="container-wrapper per50">
							<div class="field-container text clearfix">
								<label style="padding:0 50px 50px;">Selecting DONE button transfers all Configuration changes to the MicroLok System, replacing the previous configuration.
								If changes were made, the unit may function differently and may require testing to ensure correct operations.</label>
							</div>
						</div>
						<div class="container-wrapper per50">
							<div class="field-container text clearfix">
								<label style="padding:0 50px 50px;">Selecting QUIT button Discards all Configuration changes. The MicroLok System will continue to use current configuration.</label>
							</div>
						</div>
					</div>
		 		</div>
			</div>
			<script src="/public/js/common_function.js"></script>
			<script src="/public/js/config.js"></script>
<% } else { %>
			<div class="section clearfix" style="width: 860px; margin: 10px auto;">
		 		<div id="config-buttons-area" class="section-content clearfix">
					<span><h1 style="text-align: center;">Examine Configuration Settings Mode</h1></span>
					<div class="field-container clearfix" style="margin: 20px 10px;">
					<p style="text-align: center;"> </p>
					</div>
				</div>
			</div>
<% } %>
<% include footer %>
