<% include header %>
			<script src="/public/js/unload.js"></script>
			<div class="section clearfix" style="width: 960px; margin: 10px auto;">
				<div class="section-toolbar clearfix" style="background: none;">
					<div class="popup-buttons" style="float: left;">
						<h1 style="padding-top: 4px;">Communications Configuration</h1>
					</div>
					<% if (edit_mode == '1' && enableSessionTimeout == 'true') { %>
						<div class="popup-buttons" style="float: right">
								<!--<a id="conf_cancel_changes_btn" class="button" href="#" onclick="return false;">Cancel changes</a>
								<a id="conf_save_changes_btn" class="button" href="#" onclick="return false;">Save changes</a>-->
								<a id="conf_save_changes_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Save for<br>Exit Confirmation</a>
								<a id="conf_restore_EEPROM_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>EEPROM</a>
								<a id="conf_restore_Application_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>Application</a>
						</div>
					<% } %>
				</div>
				<div id="boards-information" class="section-content clearfix">
					<div class="field-group clearfix" style="margin-bottom: 10px;">
						<div class="clearfix">
							<div class="container-wrapper per60">
								<div class="field-container select clearfix">
									<label for="boardselector">Select Link </label>
									<div class="iw">
										<select name="linkselector" id="linkselector" class="cfgproc">
											<option selected disabled hidden value=""></option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="conf-link-info">
					</div>
			 		<div id="conf-station-info">
			 		</div>
				</div>
			</div>

<% include footer %>
