<% include header %>
				<div class="section clearfix" style="width: 960px; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">SNMP configuration</h1>
						</div>
						<div class="popup-buttons" style="float: right">
							<a id="info_cancel_changes_btn" class="button" href="#">Cancel changes</a>
							<a id="info_save_changes_btn" class="button" href="#">Save changes</a>
						</div>
					</div>
			 		<div id="snmp-changes-area" class="section-content clearfix">
						<div class="field-group clearfix" style="margin: 0 10px 10px 0">
		 					<div class="field-container text clearfix">
			 					<label for="snmp-commname" style="width: 400px; float: left; margin-top: 5px;">
			 						Community Name Read Only: <span id="last_pc_vital_conf">&lt;The system's public name&gt;</span>
			 					</label>
			 					<div class="iw" style="width: 350px; float: left; margin: 0 5px;">
			 						<input id="snmp-commname" name="snmp-commname" value="The system's public name" class="cfgproc" maxlength="127">
			 					</div>
			 					<div id="error-snmp-commname" class="validation-error" style="width: 140px; float: left; margin-top: 5px;">(127 characters max.)</div>
			 				</div>
		 					<div class="field-container text clearfix">
			 					<label for="snmp-sysname" style="width: 400px; float: left; margin-top: 5px;">
			 						sysName: <span id="last_pc_vital_conf">&lt;MicroLok&gt;</span>
			 					</label>
			 					<div class="iw" style="width: 350px; float: left; margin: 0 5px;">
			 						<input id="snmp-sysname" name="snmp-sysname" value="MicroLok" class="cfgproc" maxlength="127">
			 					</div>
			 					<div id="error-snmp-sysname" class="validation-error" style="width: 140px; float: left; margin-top: 5px;">(127 characters max.)</div>
			 				</div>
		 					<div class="field-container text clearfix">
			 					<label for="snmp-syscontact" style="width: 400px; float: left; margin-top: 5px;">
			 						sysName: <span id="last_pc_vital_conf">&lt; &gt;</span>
			 					</label>
			 					<div class="iw" style="width: 350px; float: left; margin: 0 5px;">
			 						<input id="snmp-syscontact" name="snmp-syscontact" value="" class="cfgproc" maxlength="127">
			 					</div>
			 					<div id="error-snmp-syscontact" class="validation-error" style="width: 140px; float: left; margin-top: 5px;">(127 characters max.)</div>
			 				</div>
		 					<div class="field-container select clearfix">
			 					<label for="snmp-traps-enabled" style="width: 400px; float: left; margin-top: 5px;">
			 						Traps Enabled/Disabled: <span id="last_pc_vital_conf">&lt;Disabled&gt;</span>
			 					</label>
			 					<div class="iw" style="width: 150px; float: left; margin: 0 5px;">
			 						<select id="snmp-traps-enabled" class="cfgproc" name="snmp-traps-enabled">
										<option value="Disabled" selected="">Disabled</option>
										<option value="Enabled">Enabled</option>
									</select>
			 					</div>
			 				</div>
		 					<div class="field-container text clearfix">
			 					<label for="snmp-traps-target1.1" style="width: 400px; float: left; margin-top: 5px;">
			 						Trap Traget Destination 1:
			 					</label>
								<div style="float: left; width: 30px; margin-left: 5px;">
									<div class="iw">
										<input id="snmp-traps-target1.1" class="cfgproc" value="000" name="snmp-traps-target1.1">
									</div>
								</div>
								<div style="float: left; width: 10px;">
									<div style="padding: 4px 0px; text-align: center"> . </div>
								</div>
								<div style="float: left; width: 30px;">
									<div class="iw">
										<input id="snmp-traps-target1.2" class="cfgproc" value="000" name="snmp-traps-target1.2">
									</div>
								</div>
								<div style="float: left; width: 10px;">
									<div style="padding: 4px 0px; text-align: center"> . </div>
								</div>
								<div style="float: left; width: 30px;">
									<div class="iw">
										<input id="snmp-traps-target1.3" class="cfgproc" value="000" name="snmp-traps-target1.3">
									</div>
								</div>
								<div style="float: left; width: 10px;">
									<div style="padding: 4px 0px; text-align: center"> . </div>
								</div>
								<div style="float: left; width: 30px;">
									<div class="iw">
										<input id="snmp-traps-target1.4" class="cfgproc" value="000" name="snmp-traps-target1.4">
									</div>
								</div>
								<a id="snmp-traps-target1-test_btn" class="button" href="#" style="margin-left: 15px;">Test Trap</a>
							</div>
		 					<div class="field-container text clearfix">
			 					<label for="snmp-traps-target2.1" style="width: 400px; float: left; margin-top: 5px;">
			 						Trap Traget Destination 2:
			 					</label>
								<div style="float: left; width: 30px; margin-left: 5px;">
									<div class="iw">
										<input id="snmp-traps-target2.1" class="cfgproc" value="000" name="snmp-traps-target2.1">
									</div>
								</div>
								<div style="float: left; width: 10px;">
									<div style="padding: 4px 0px; text-align: center"> . </div>
								</div>
								<div style="float: left; width: 30px;">
									<div class="iw">
										<input id="snmp-traps-target2.2" class="cfgproc" value="000" name="snmp-traps-target2.2">
									</div>
								</div>
								<div style="float: left; width: 10px;">
									<div style="padding: 4px 0px; text-align: center"> . </div>
								</div>
								<div style="float: left; width: 30px;">
									<div class="iw">
										<input id="snmp-traps-target2.3" class="cfgproc" value="000" name="snmp-traps-target2.3">
									</div>
								</div>
								<div style="float: left; width: 10px;">
									<div style="padding: 4px 0px; text-align: center"> . </div>
								</div>
								<div style="float: left; width: 30px;">
									<div class="iw">
										<input id="snmp-traps-target2.4" class="cfgproc" value="000" name="snmp-traps-target2.4">
									</div>
								</div>
								<a id="snmp-traps-target2-test_btn" class="button" href="#" style="margin-left: 15px;">Test Trap</a>
							</div>
		 					<div class="field-container select clearfix">
			 					<label for="snmp-inform-enabled" style="width: 400px; float: left; margin-top: 5px;">
			 						Inform Enabled/Disabled: <span id="last_pc_vital_conf">&lt;Disabled&gt;</span>
			 					</label>
			 					<div class="iw" style="width: 150px; float: left; margin: 0 5px;">
			 						<select id="snmp-inform-enabled" class="cfgproc" name="snmp-inform-enabled">
										<option value="Disabled" selected="">Disabled</option>
										<option value="Enabled">Enabled</option>
									</select>
			 					</div>
			 				</div>
			 				<div class="field-container text clearfix">
			 					<label for="snmp-inform-retries" style="width: 400px; float: left; margin-top: 5px;">
			 						Inform Retries: <span id="last_pc_vital_conf">&lt; 3 &gt;</span>
			 					</label>
			 					<div class="iw" style="width: 60px; float: left; margin: 0 5px;">
			 						<input id="snmp-inform-retries" name="snmp-inform-retries" type="number" min="1" max="10" step="1" value="3" class="cfgproc">
			 					</div>
			 					<div id="error-LogicTimeout" class="validation-error" style="width: 90px; float: left; margin-top: 5px;">(1 - 10)</div>
			 				</div>
			 				<div class="field-container text clearfix">
			 					<label for="snmp-inform-delay" style="width: 400px; float: left; margin-top: 5px;">
			 						Inform Retriy Delay: <span id="last_pc_vital_conf">&lt; 5 &gt;</span>
			 					</label>
			 					<div class="iw" style="width: 60px; float: left; margin: 0 5px;">
			 						<input id="snmp-inform-delay" name="snmp-inform-delay" type="number" min="1" max="10" step="1" value="5" class="cfgproc">
			 					</div>
			 					<div id="error-LogicTimeout" class="validation-error" style="width: 90px; float: left; margin-top: 5px;">(1 - 10)</div>
			 				</div>

			 			</div>
			 		</div>
				</div>

<% include footer %>
