<% include header %>
<script src="/public/js/unload.js"></script>
	<div style="width: 510px; margin: 0 auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">

						<div class="popup-buttons" style="float: left;">
							<h1 style="padding-top: 4px;">User Data Log Settings</h1>
						</div>
						<% if (edit_mode == '1' && enableSessionTimeout == 'true') { %>
							<div class="popup-buttons" style="float: right">
								<!--<a id="conf_cancel_changes_btn" class="button" href="#" onclick="return false;">Cancel changes</a>
								<a id="conf_save_changes_btn" class="button" href="#" onclick="return false;">Save changes</a>-->
								<a id="conf_save_changes_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Save for<br>Exit Confirmation</a>
								<a id="conf_restore_EEPROM_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>EEPROM</a>
								<a id="conf_restore_Application_btn" style="height: auto; text-align: center;" class="button" href="#" onclick="return false;">Restore from<br>Application</a>
							</div>
						<% } %>
					</div>
					<div class="section-content clearfix" style="margin:0;">
						<div class="field-group clearfix">
							<div id="options_list" class="scroll clearfix fullheight-inner" style="height: 400px;">

							</div>
							<div class="field-container clearfix">
								<div class="iw" style="display:inline-block; margin: 3px; padding:0;">
									<input id="start_adr" style="width:180px;border: none; background: none;" type="search"></input>
								</div>
								<div style="float: right">
									<a id="search-btn" href="#" class="button">Search</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/public/js/common_function.js"></script>
	<script src="/public/js/conf_userdatalog.js"></script>
<% include footer %>
