<% include header %>
	<div style="width: 1260px; margin: 0 auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">Error Log</h1>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0 0 0 5px;">
							<h2 style="float: left; padding: 5px; margin: 0;">
								<span id="sysinfo-exec-ver" class="info">Events per Page:</span>
								<div class="iw" style="display:inline-block; margin: 3px; padding:0;">
									<input type="number" class="userinput" id="chooseperpage" value="25" step="1" min="1" maxlength="3" style="width:40px;border: none; background: none;">
								</div>
							</h2>
						</div>
						<div class="popup-buttons" style="float:left; margin: 3px 0;">
							<a id="eventlog_first_btn" class="button" style="margin: 0 5px;" onclick="return false;" href="#">Most Recent</a>
							<a id="eventlog_previous_btn" class="button" style="margin: 0 5px;" onclick="return false;" href="#">Page Up</a>
						</div>

						<h2 style="display: none; float: left; padding: 5px; margin: 0;"><span id="cur-page-info" class="info">---/-</span></h2>
						<div class="popup-buttons" style="float:left; margin: 0;">
							<h2 style="float:left; padding: 5px; margin:0;">
								<span class="info">Page:</span>
								<div class="iw" style="display:inline-block; margin: 3px; padding:0;">
									<input type="number" class="userinput" id="choosepage" value="1" step="1" max="100" min="1" maxlength="3" style="width:40px;border: none; background: none;">
								</div>
								<span class="info">Total:</span><span id="total-page-num" class="info">---</span>
							</h2>
						</div>

						<div class="popup-buttons" style="float:left; margin: 3px 0;">
							<a id="eventlog_next_btn" class="button" style="margin: 0 5px;" onclick="return false;" href="#">Page Down</a>
							<a id="eventlog_last_btn" class="button" style="margin: 0 5px;" onclick="return false;" href="#">Oldest</a>
						</div>
						<div class="popup-buttons" style="float: right; margin: 3px 0;">
							<a id="info_refresh_btn" class="button" href="#" onclick="return false;">Refresh</a>
							<!--<a id="info_clear_btn" class="button" href="#" onclick="return false;">Clear</a>-->
							<a id="info_save_btn" class="button" href="#" onclick="return false;">Save Page</a>
							<a id="info_saveall_btn" class="button" href="#" onclick="return false;">Save Full Log</a>
							<a id="info_savecompressed_btn" class="button" href="#" onclick="return false;">Save Compressed Log</a>
						</div>
					</div>
			 		<div id="error-log-area"  class="section-content clearfix" style="margin:0;">
						<div class="field-group clearfix" style="margin: 0 0 0 0">
							<div id="logpage-table-wrapper" class="clearfix" style="float: left; width: 100%;">
								<table cellspacing="0" cellpadding="0" border="0" id="errorlog-wrapper-table" class="data-table">
									<tbody>
										<tr>
											<th class="logpage-img"></th>
											<th class="logpage-num"><a id="sort_num" href="#" onclick="return false;" > # <span id="sortflag_palceholder_5"><img src="/public/img/arrow.png"></span></a></th>
											<th class="logpage-time"><a id="sort_time" href="#" onclick="return false;" > Time <span id="sortflag_palceholder_1"></span></a></th>
											<th class="logpage-event" style="width: auto"><a id="sort_event" href="#" onclick="return false;" > Event <span id="sortflag_palceholder_2"></span></a></th>
											<th class="logpage-source"><a id="sort_source" href="#" onclick="return false;" > Source <span id="sortflag_palceholder_3"></span></a></th>
											<th class="logpage-codes" style="width: 153px;"><a id="sort_codes" href="#" onclick="return false;" > Codes <span id="sortflag_palceholder_4"></span></a></th>
										</tr>
										<tr>
											<td style="padding: 0 !important" colspan="6">
												<div id="sys-adjust-scroll" class="scroll clearfix fullheight-inner bigheight" style="height: 400px;">
													<table id="traps-table" class="data-table-scroll">

														<tbody id="error-log-tbody-1" style="">
														</tbody>

													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
			 		</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/public/js/common_function.js"></script>
	<script src="/public/js/errorlog.js"></script>
<% include footer %>
