
		</div>
		<div id="footer" class="clearfix">
			<p style="float: left;">
				<!--<img src="img/ansaldo-icon.png" style="margin: 5px 5px 0 0; float: left">-->
				Copyright &copy; 2016 Ansaldo STS USA, Inc.
			</p>
			<p id="tool-ver" style="float: right;">Ver. <span id="ui-ver">UI-0.9.166 SW-</span><span id="sw-ver">waiting</span></p>
		</div>
	</div>
<%if (page_nav == "1") { %>
	<div id="runtime_panel" style="display: none; left: 243px; top: 127px;">
		<div class="section">
			<div class="section-content">
				<div class="field-group clearfix">
					<div class="field-container sysinfo clearfix">
						<a href='sysinfo'>System Information</a>
					</div>
					<!--<div class="field-container sysinfo clearfix">
						<a href='boardinfo'>Board Information</a>
					</div>-->
					<div class="field-container sysinfo clearfix">
						<a href='linkinfo'>Link Information</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='messagemon'>Message Monitor</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='bitandvars'>Bit & Variable Display</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="history_panel" style="display: none; left: 243px; top: 127px;">
		<div class="section">
			<div class="section-content">
				<div class="field-group clearfix">
					<div class="field-container sysinfo clearfix">
						<a href='userdatalog'>User Data Log</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='eventlog'>Event Log</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='errorlog'>Error Log</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="adjustment_panel" style="display: none; left: 243px; top: 127px;">
		<div class="section">
			<div class="section-content">
				<div class="field-group clearfix">
					<div class="field-container sysinfo clearfix">
						<a href='logicmon'>Logic Monitoring</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='systime'>System Clock</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a id="reset_menu_item" href="#" onclick="return false;">System Reset</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='memorydump'>Memory Dump</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_download'>Application Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% } %>
<% if (page_nav == "2"){ %>
	<div id="appconfig_panel" style="display: none; left: 243px; top: 127px;">
		<div class="section">
			<div class="section-content">
				<div class="field-group clearfix">
					<div class="field-container sysinfo clearfix">
						<a href='conf_general'>General</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_userdatalog'>User Data Log</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_timers'>Timers</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_variables'>Variables</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_boards'>Boards</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_links'>Communication Links</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sysconfig_panel" style="display: none; left: 243px; top: 127px;">
		<div class="section">
			<div class="section-content">
				<div class="field-group clearfix">
					<div class="field-container sysinfo clearfix">
						<a href='conf_snmp'>SNMP</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<% if (edit_mode == "1" && enableSessionTimeout == 'true'){ %>
							<input type="hidden" id="edit_mode" value="1">
							<a href='conf_upload'>Software Upload</a>
						<% } else { %>
							<a href='conf_upload'>Software Upload</a>
						<% } %>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_clear'>Clear Configuration</a>
					</div>
					<div class="field-container sysinfo clearfix">
						<a href='conf_route'>CPU Network Routing</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% } %>
	<script src="/public/js/init.js"></script>
	<!--[if IE 6]>
		<script type="text/javascript" src="js/lib/dd_belatedpng_0.0.8a-min.js"></script>
		<script type="text/javascript" src="js/lib/ie6-png-fix.js"></script>
	<![endif]-->
</body>
</html>
