<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en-us">
<!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!--[if lt IE 9 ]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->
<title dir=ltr><%= title %></title>
<link rel="stylesheet" href="/public/css/style.css">

<link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.css" />
<script src="/public/js/lib/jszip.js"></script>
<script src="/public/js/lib/prototype.js"></script>
<script src="/public/js/popup.js"></script>
<script src="/public/js/lib/effects.js"></script>
<script src="/public/js/filexhr.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/header_info.js"></script>
<% if (enableSessionTimeout == 'true') { %>
	<script src="/public/js/session.js"></script>
<% } %>
<% if (page_nav == '9'){ %>
<script src="/public/js/sessionlimit.js"></script>
<% } %>
</head>
<body>
	<div id="master-wrapper" <% if (typeof show_bg != 'undefined') { %> class="main_bg" <% }	 %> >
		<div id="header" class="clearfix">
			<h1>
				<a href="/">MicroLok<span style="font-size: 20px; vertical-align: top;">®</span></a>
			</h1>
			<div class="onboard-information">
				<div class="onboard-other-div">
					<div>

						<span>MicroLok Time</span>
						<% if (page_nav == '9'){ %>
							<input value="--">
						<% } else { %>
							<input value="" id="board-time" name="board-time" readonly="" />
							<% } %>
					</div>
 					<div>
						<span>MicroLok Status</span>
						<% if (page_nav == '9'){ %>
							<input value="--">
						<% } else { %>
						<input value="" id="operation-mode" name="operation-mode" class="operation-mode-unknown" readonly="" />
						<% } %>
					</div>
				</div>

				<div class="onboard-name-div">
					<div class="onboard-name-label-div">
						<span>Application Program</span>
					</div>
					<div class="input-div">
						<input value="" id="board-id" name="board-id" readonly="" />
					</div>
				</div>
			</div>
			<div class="nav-wrap clearfix">
				<ul class="nav" style="float: left; clear:left">
					<% if (page_nav == "1") { %>
						<li id="runtime_li">
							<a id="runtime_menu" class="active_" href="#" onclick="return false;" title="Run Time Monitor">Run Time Monitor <img id="runtime_arrow" src="/public/img/arrow.png"></a>
						</li>
						<li id="history_li">
							<a id="history_menu" href="#" onclick="return false;" title="Historical Data">Historical Data <img id="history_arrow" src="/public/img/arrow.png"></a>
						</li>
						<li id="adjustment_li">
							<a id="adjustment_menu" href="#" onclick="return false;" title="System Adjustments">System Adjustments <img id="adjustment_arrow" src="/public/img/arrow.png"></a>
						</li>
						<li id="setup_li">
							<a id="setup_menu" href="#" onclick="return false;" title="Configuration Mode">Configuration Mode </a>
						</li>
					<% } %>
					<% if (page_nav == "2") { %>
						<li id="appconfig_li">
							<a id="appconfig_menu" href="#" onclick="return false;" title="Application Configuration">Application Configuration <img id="appconfig_arrow" src="/public/img/arrow.png"></a>
						</li>
						<li id="sysconfig_li">
							<a id="sysconfig_menu" href="#" onclick="return false;" title="System Configuration">System Configuration <img id="setup_arrow" src="/public/img/arrow.png"></a>
						</li>
						<% if (edit_mode == "1" && enableSessionTimeout == 'true') { %>
							<li id="sysconfig_li">
								<a href="config" title="Exit Confirmation">Exit Confirmation</a>
							</li>
						<% } else { %>
							<li id="sysconfig_li">
								<a href="/exit-config" title="Exit Confirmation">Exit Confirmation</a>
							</li>
						<% } %>
			 <% } %>
					<% if (page_nav == "0") { %>
						<li style="height: 31px;"></li>
					<% } %>
				</ul>
				<ul class="nav" style="float:right">
				</ul>
			</div>
		</div>
		<div id="container" class="clearfix">
