<% var show_bg = '1' %>
<% var page_load = '1' %>
<% include header %>
<% if(page_load == '0') { %>
<div id="master-wrapper">
	<div style="width: 350px; margin: 60px auto 10px auto">
		<div class="section">
			<h1 class="popup-title">Please wait</h1>
			<div class="section-content clearfix popup-content">
				<div style="text-align:center">
					<img src="/public/img/ajax-load.gif"><br>
					<br>
					Redirecting...
				</div>
			</div>
			<div class="section-toolbar clearfix">
				<div class="popup-buttons" style="float: right">
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>
<% include footer %>
