<% include header %>
				<div class="section clearfix" style="width: 680px; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<h1 style="float: left;">Logic Monitoring Settings</h1>
					</div>
				 	<div id="logic-mon" class="section-content clearfix">
				 		<div class="field-group clearfix" style="margin: 0 0 0 0">
				 			<div class="container-wrapper per50">
					 			<div class="field-container text clearfix">
									<label for="updRate">Data Update Rate</label>
									<div class="iw suffix">
										<input id="updRate" class="cfgproc" name="updRate" min="500" max="60000" type="number"">
										<span>milliseconds</span>
									</div>
						 		</div>
					 		</div>
				 			<div class="container-wrapper per50">
					 			<div class="field-container text clearfix">
									<label for="updRate">The Data Update Rate determines how often the data displayed on the Bit & Variable Display page updates. All state and value changes during this interval are stored on the MicroLok and delivered at the set rate.
									The range is from 500 to 60000 milliseconds.</label>
						 		</div>
					 		</div>
							<div class="field-container radio clearfix">
								<span>Bit & Variable Text Display Mode time messages:</span>
								<div style="width: 20%; float: left;">
									<label for="updOpt['none']">
										<input type="radio" id="updOpt['none']" name="updOpt" value="1" class="cfgproc fix-ibox-padding">None
									</label>
									<label for="updOpt['monitored']">
										<input type="radio" id="updOpt['monitored']" name="updOpt" value="2" class="cfgproc fix-ibox-padding" checked>Monitored bits only
									</label>
									<label for="updOpt['all']">
										<input type="radio" id="updOpt['all']" name="updOpt" value="3" class="cfgproc fix-ibox-padding">All processing times
									</label>
								</div>
								<div style="float: left; padding: 11px 190px">
									<a id="logic-mon-update" class="button" href="#" onclick="return false;">Save Preferences</a>
								</div>
							</div>
				 		</div>
					</div>
				</div>
<% include footer %>
