<% include header %>
<script src="/public/js/sysinfo.js"></script>
	<div style="width: 1160px; margin: 0 auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<h1 style="float: left;">System Information</h1>
						<div class="popup-buttons" style="float: right">
							<a id="info_clear_btn" class="button" href="#" onclick="return false;">Clear Executive Statistics</a>
							<a id="info_save_btn" class="button" href="#" onclick="return false;">Save</a>
						</div>
					</div>
				 	<div id="System-information" class="section-content clearfix" style="margin:0;">
				 		<div class="field-group clearfix" style="margin: 0 0 0 0">
				 			<h2>General Information</h2>
				 			<div class="field-container sysinfo clearfix">
			 					<label>Program:</label>
			 					<span class="info" id="sysinfo-program"></span>
			 				</div>
			 				<div class="field-container sysinfo clearfix alt">
			 					<label>Executive Version:</label>
			 					<span class="info" id="sysinfo-exec-ver"></span>
			 				</div>
				 			<div class="field-container sysinfo clearfix">
			 					<label>Executive CRC:</label>
			 					<span class="info" id="sysinfo-exec-crc"></span>
			 				</div>
			 				<div class="field-container sysinfo clearfix alt">
			 					<label>Compiler Version:</label>
			 					<span class="info" id="sysinfo-comp-ver"></span>
			 				</div>
				 			<div class="field-container sysinfo clearfix">
			 					<label>Application Version:</label>
			 					<span class="info" id="sysinfo-app-ver"></span>
			 				</div>
			 				<div class="field-container sysinfo clearfix alt">
			 					<label>Application CRC:</label>
			 					<span class="info" id="sysinfo-app-crc"></span>
			 				</div>
				 			<div class="field-container sysinfo clearfix">
			 					<label>Site ID:</label>
			 					<span class="info" id="sysinfo-site-id"></span>
			 				</div>
			 				<div class="field-container sysinfo clearfix alt">
			 					<label>Date Stamp:</label>
			 					<span class="info" id="sysinfo-date-stamp"></span>
			 				</div>
			 				<div class="field-container sysinfo clearfix">
			 					<label>Maintenance Tool Version:</label>
			 					<span class="info" id="sysinfo-maint-ver"></span>
			 				</div>
			 				<div class="field-container sysinfo clearfix alt">
			 					<label>PC Date:</label>
			 					<span class="info" id="sysinfo-pc-date"></span>
			 				</div>
				 		</div>
					</div>
					<div id="System-adjustment" class="section-content clearfix" style="margin:0;">
						<div class="field-group clearfix" style="margin: 0 0 0 0">
							<h2>System Adjustment Table</h2>
							<div id="sys-adjust-table-wrapper" class="clearfix" style="border-top: #F2F8FB 1px solid; float: left; width: 100%;">
								<table cellspacing="0" cellpadding="0" border="0" id="sys-adjust-wrapper-table" class="data-table">
									<tbody>
										<tr>
											<th class="sys-adjust-number"> # </th>
											<th class="sys-adjust-event"> Event </th>
											<th class="sys-adjust-time"> Date/Time </th>
											<th style="width: auto" class="sys-adjust-desc"> Description </th>
										</tr>
										<tr>
											<td style="padding: 0 !important" colspan="4">
												<div id="sys-adjust-scroll" class="scroll clearfix fullheight-inner bigheight" style="height: 181px;">
													<table id="traps-table" class="data-table-scroll">

														<tbody id="sys-adjust-tbody-1" style="">
														</tbody>

													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
