<% include header %>
				<div class="section clearfix" style="width: 680px; margin: 10px auto;">
					<div class="section-toolbar clearfix" style="background: none;">
						<h1 style="float: left;">System Clock</h1>
					</div>
				 	<div id="logic-mon" class="section-content clearfix">
				 		<div class="field-group clearfix" style="margin: 0 0 0 0">
				 			<div class="clearfix">
					 			<div>
						 			<div style="float:left; width:40%; padding: 6px 0 0 0;">
						 				<div class="field-container text clearfix">
											<label for="cursystime">Current MicroLok system time</label>
										</div>
							 		</div>
						 			<div style="float:left; width:60%;">
						 				<div class="field-container text clearfix">
											<div class="iw is-disabled">
												<input id="cursystime" class="cfgproc is-disabled" name="cursystime" value="---" maxlength="51" readonly="">
											</div>
										</div>
							 		</div>
						 		</div>
				 			</div>
				 			<div class="clearfix">
					 			<div>
					 				<div style="float:left; width:40%; padding: 6px 0 0 0;">
							 			<div class="field-container text clearfix">
							 				<div style="width: 10%; float: left;">
								 				<input type="radio" id="setfromcurpctime" name="setmicroloktime" class="cfgproc fix-ibox-padding" checked="">
											</div>
											<div style="width: 90%; float: left;">
												<label for="setfromcurpctime">Set from computer's time</label>
											</div>
								 		</div>
							 		</div>
						 			<div style="float:left; width:60%;">
							 			<div class="field-container text clearfix">
											<div class="iw is-disabled">
												<input id="curpctime" class="cfgproc is-disabled" name="curpctime" value="---" maxlength="51" readonly="">
											</div>
								 		</div>
							 		</div>
						 		</div>
				 			</div>
				 			<div class="clearfix">
					 			<div>
					 				<div style="float:left; width:40%; padding: 6px 0 0 0;">
							 			<div class="field-container text clearfix">
							 				<div style="width: 10%; float: left;">
								 				<input type="radio" id="setfromcustomtime" name="setmicroloktime" class="cfgproc fix-ibox-padding">
											</div>
											<div style="width: 90%; float: left;">
												<label for="setfromcustomtime">Set from specific time</label>
											</div>
								 		</div>
							 		</div>
						 			<div style="float:left; width:60%;">
							 			<div class="field-container text clearfix">
											<div class="iw">
												<input id="customtime" class="cfgproc" name="customtime" value="---" maxlength="51">
											</div>
								 		</div>
							 		</div>
						 		</div>
				 			</div>
				 			<div class="clearfix">
					 			<div class="field-container text clearfix">
				 					<a id="set_mlk_time" class="button" onclick="return false;" href="#">Set MicroLok Time</a>
						 		</div>
				 			</div>
				 		</div>
					</div>
				</div>
<% include footer %>
