<% include header %>

	<div style="width: 860px; margin: 0 auto;">
		<div class="fullheight" style="background: none;">
			<div style="margin: 10px auto;">
				<div class="section clearfix" style="border-radius: 5px !important; border-style: solid !important; border-width: 1px !important; box-shadow: 1px 1px 3px #000 !important; border-color: #f2f8fb #c3d2db #c3d2db #f2f8fb !important;">
					<div class="section-toolbar clearfix" style="background: none;">
						<div class="popup-buttons" style="float: left;">
							<h1 style="float: left;">User Data Log</h1>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0 60px;">
							<a id="userlog_pause_btn" class="button" style="margin: 0 20px;" href="#" onclick="return false;">Pause</a>
							<a id="userlog_reload_btn" class="button" style="margin: 0 20px;" href="#" onclick="return false;">Reload</a>
							<a id="userlog_clear_btn" class="button" style="margin: 0 20px;" href="#" onclick="return false;">Clear</a>
						</div>
						<div class="popup-buttons" style="float:left; margin: 0 10px 0 30px;">
							<a id="userlog_time_btn" class="button" href="#" onclick="return false;">Start/End Time</a>
						</div>
						<div class="popup-buttons" style="float: right">
							<a id="info_save_btn" class="button" href="#" onclick="return false;">Save</a>
						</div>
					</div>
			 		<div id="User-data-log-area" class="section-content clearfix" style="margin:0;">
					 		<!--<div id="sys-adjust-scroll" class="scroll clearfix fullheight-inner" style="height: 400px;">-->
								<div class="field-container textarea clearfix">
									<div class="iw">
										<textarea id="user-log-field" class="cfgproc fullheight-inner" name="user-log-field" style="height: 400px;overflow-y: scroll;" readonly="" ></textarea>
									</div>
								</div>
								<!--<div>
									<input type="text" value="" id="datetime_test" name="datetime_test" >
								</div>-->
							<!--</div>-->
			 		</div>
				</div>
			</div>
		</div>
	</div>
<% include footer %>
